*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 30px;
    background-color:rgb(245, 245, 245);
  }

  .logo {
    flex: 0 0 200px;
  }

  .logo img{
    width:70px;
  }

  .search-bar {
    flex: 1 1 auto;
  }

  .svg-icons {
    flex: 0 0 170px;
  }

  .CounterNotification
  {
      color:white;
      padding:2px;
      margin-right:-30px;
      font-size:8pt;
      /* font-weight:bold; */
      position: relative;
      top:-11px;
      left:2px;
      background-color:rgb(230, 30, 63);
      border-radius:50px;

  }
  .CounterNotification1
  {
      color:white;
      padding:2px;
      font-size:8pt;
      font-weight:bold;
      position: relative;
      top:-11px;
      background-color:rgb(230, 30, 63);
      left:40px;
      border-radius:50px;

  }
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: .375rem .75rem;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 100%;
  }

  .Notification{
    color:white;
    margin-right:30px;

}

.sec{
  display: flex;
  flex-direction: row;
}

.menu {
    flex: 1 1 auto;
    background-color:#333335;
    width:15%;
    height:850px;
  }

  .content {
    flex: 1 1 auto;
    background-color: rgb(228, 228, 228);
    width:85%;
    height:850px;

  }

  .menu ul {
    list-style-type: none;
    padding: 0;

  }

  .menu li {
    padding: 0px 0;
    text-align:center;
    display: block;

  }

  .menu li a {
    color: white;
    text-decoration: none;
    display: block;
    width:100%;
    padding:10px 0;

  }

  .menu li a:hover {
    color: #fff;
    background-color: #EA2F69;
  }

  .menu li a.active{

    color: #fff;
    background-color: #EA2F69;
  }

  .copyright {
    font-size: 12px;
    color: #666;
    text-align: center;
    position: relative;
    top:600px;
  }

  .text-container {
    display: flex;
    background-color: #fff;
    flex-direction: row;
    /* padding:10px 10px; */
  }

  .text-left {
    flex: 1 1 auto;
  }

  .text-right {
    flex: 0 1 auto;
    margin-left:12px;
  }

  .text-right span{
    background-color:red;
    display: block;
    padding:5px;
    text-align: center;
    color:white;
  }


  .text-left h2 {
    font-size: 17px;
    margin-top:17px;
    margin-left: 10px;
  }

.text-right h2 {
    font-size: 17px;
    margin-top:17px;
  }

  .child-section {
    display: flex;
    flex-direction: row;
  }

  .paragraphs {
    flex: 1 1 auto;
    background-color:white;
    margin: 5px;
    height:550px;
    padding: 20px;
    width:80%;
  }

  .reviews {
    flex: 1 1 auto;
    /* background-color:white; */
    margin: 5px;
    height:350px;
    padding: 20px;
    width:50%;
  }

  .review-top {
    margin-bottom: 10px;
    background-color:white;
    width:250px;
    height:250px;
    border-top-left-radius:80px;
  }

  .review-top p {
    font-size: 14px;
    position:relative;
    top:40px;
    left:10%;
    width:80%;
    text-align: center;
  }

  .review-top img{
    width:50px;
    border-radius:50%;
    position: relative;
    top:45px;
    left:30px;
  }

  .review-top h5{
   position: relative;
   left:30px;
   font-size: 12px;
   left:90px;
  }

  .review-top h6{
    position: relative;
    left:30px;
    font-size: 12px;
    left:90px;
   }

   .review-bottom {
    margin-bottom: 10px;
    background-color:white;
    width:250px;
    height:250px;
    border-top-left-radius:80px;
  }

  .review-bottom p {
    font-size: 14px;
    position:relative;
    top:40px;
    left:10%;
    width:80%;
    text-align: center;
  }

  .review-bottom img{
    width:50px;
    border-radius:50%;
    position: relative;
    top:45px;
    left:30px;
  }

  .review-bottom h5{
   position: relative;
   left:30px;
   font-size: 12px;
   left:90px;
  }

  .review-bottom h6{
    position: relative;
    left:30px;
    font-size: 12px;
    left:90px;
   }

  /* .container_mask {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  
  .mask .img1 {
    width: 50px;
    height: auto;
    border-radius:50%;
    border:5px solid black;
    position: relative;
    left:10px;
  }
  
  .mask .img2 {
    width: 50px;
    height: auto;
    border-radius:50%;
    border:5px solid black;
    position: relative;
    left:10px;
  }
  .mask .img3 {
    width: 50px;
    height: auto;
    border-radius:50%;
    border:5px solid black;
    position: relative;
    left:10px;
  }
  .mask .img4 {
    width: 50px;
    height: auto;
    border-radius:50%;
    border:5px solid black;
    position: relative;
    left:10px;
  }
  .mask .img5 {
    width: 50px;
    height: auto;
    border-radius:50%;
    border:5px solid black;
    position: relative;
    left:10px;
  } */


